extends app.pug

block intro
  form.namecard-form(action="/hello", method="POST")
    label.namecard-prompt Please enter your name to sign in
      input.namecard-name(type="text", name="username", autocomplete="off", autofocus="on", required) 
    button.namecard-submit(type="submit") Login
