extends layout.pug
block content
  section#content
    if name
      h2 Welcome, #{name}! 
    else 
      form(action="/hello", method="POST")
        label Please enter your name to sign in
          input(type="text", name="username", autocomplete="off", autofocus="on", required) 
        button(type="submit") login
