doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magic
    p long paragraph of things and text to use as a placeholder on the page. It will all be replaced, no problem. But for now Its a beautiful paragraph authered be me. long paragraph of things and text to use as a placeholder on the page. It will all be replaced, no problem. But for now Its a beautiful paragraph authered be me. long paragraph of things and text to use as a placeholder on the page. It will all be replaced, no problem. But for now Its a beautiful paragraph authered be me. long paragraph of things and text to use as a placeholder on the page. It will all be replaced, no problem. But for now Its a beautiful paragraph authered be me. long paragraph of things and text to use as a placeholder on the page. It will all be replaced, no problem. But for now Its a beautiful paragraph authered be me. long paragraph of things and text to use as a placeholder on the page. It will all be replaced, no problem. But for now Its a beautiful paragraph authered be me. 
