doctype html
html(lang="en")
  head
    title Flash cards
  body
    include includes/header.pug
    if (name)
      h2 Welcome, #{name}! 
      form(action="/logout" method="POST")
        button(type="submit") Logout
    block content 
    include includes/footer.pug
